.bottom-wave {
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 0;
  -webkit-filter: drop-shadow(0px 0px 3px #222);
  filter: drop-shadow(0px 0px 3px #222);
  z-index: 0;
}

.About {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44rem;
  box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.39);
  padding-bottom: 12rem;
  z-index: 1;
}

.About-title {
  position: relative;
  z-index: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 4rem;
  margin-bottom: 5rem;
  color: #212121;
}

.about-header {
  display: flex;
  align-items: center;
}

.name-and-medias .name {
  font-family: 'Dosis', sans-serif;
  font-size: 3.4rem;
}

.name-and-medias h3 {
  margin: .4rem 0;
}

.name-and-medias .medias {
  font-family: 'Cinzel', serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.name-and-medias .medias img {
  height: 3rem;
  margin: 0 1rem;
}

.name-and-medias .medias a:hover {
  transition: .2s;
  filter: brightness(0.8);
}

.name-and-medias .medias .github-icon {
  height: 3.2rem;
}

.name-and-medias .medias .linkedin-icon {
  height: 3.3rem;
}

.about-header img {
  height: 25rem;
  margin-left: 3rem;
}