.Technology {
  position: relative;
  z-index: 1;
  box-shadow: 1px -4px 4px 0px rgba(0,0,0,0.39);
  padding: 8rem 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Technology-title {
  font-family: 'Dosis', sans-serif;
  font-size: 4rem;
  color: #212121;
}

.technologies-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.technologies-images img {
  height: 12vw;
  margin: 5rem 5rem;
  padding: 10rem 0;
  transition: .5s ease-in-out;
}

.technologies-images img:hover {
  transition: .5s ease-in-out;
  transform: scale(1.2);
}

.technologies-images .go-icon {
  height: 8vw;
}
